
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" data-toggle="pill" id="v-pills-home-tab" role="tab" aria-controls="v-pills-home" aria-selected="true" routerLink="/login">login</a>
    <a class="nav-link" data-toggle="pill" id="v-pills-profile-tab"  role="tab" aria-controls="v-pills-profile" aria-selected="false" routerLink="/status">Status</a>
    <a class="nav-link" data-toggle="pill" id="v-pills-messages-tab"  role="tab" aria-controls="v-pills-messages" aria-selected="false" routerLink="/department">Department</a>
</div>